:root {
    font-size: 62.5%;
    --primary-color: #feb534;
    --secunday-color: #ffff00;
    --green: #008000;
    --black: #000000;
    --white: #FFFFFF;
    --roboto: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #a8a8a8 none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
    border: 3px solid none;
}

body {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    background: var(--white);
    color: #ffffff;
}

.limiter {
    max-width: 144rem;
    margin: 0 auto;
    padding: 4rem 2rem 8rem;
}

/* header */

header {
    background: var(--black);
}

.header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    max-width: 144rem;
    padding: 2rem;
    margin: 0 auto;
}

.header-logo {
    width: 7.5rem;
    height: 3rem;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.4rem;
}

/* main */
main {
    position: relative;
    background-image: url(../assets/img/Fundo-Verao123.webp);
    background-size: cover;
}

/* main::before {
    position: absolute;
    content: '';
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(111, 111, 111, .7) 100%);
    z-index: 0;
    width: 100%;
    height: 100%;
} */

.main-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    text-align: center;
    background-image: url(/assets/img/Fundo-Verao123.webp);
    background-repeat: no-repeat;
}

.main-box::after {
    position: absolute;
    content: '';
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(111, 111, 111, .7) 100%);
    z-index: 0;
    width: 100%;
    height: 100%;
}

.div-folixil {
    z-index: 5;
}

.main-folixil {
    width: 80%;
    padding: 8rem 0 0 0;
    z-index: 5;
}

.main-cta-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    z-index: 5;
}

.main-button {
    text-align: center;
    padding: 1.6rem 4rem;
    background-image: radial-gradient(circle, #ff7208, #ff840f, #ff9419, #ffa426, #ffb334);
    border-radius: 1rem;
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    animation: tilt-shaking 1.4s infinite linear;
}

.main-img {
    width: 80%;
}

.main-img {
    max-width: 45.2rem;
}

.main-text-box {
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 4rem 2rem;
}

.main-tb-title {
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 32rem;
}

.main-tb-ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 32rem;
    margin: 0 auto;
}

.main-tb-ul li {
    display: flex;
    align-items: center;
    gap: .8rem;
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
}

.check-icon {
    width: 3rem;
}

.anvisa-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
}

.anvisa-img {
    max-width: 12rem;
    max-height: 12.6rem;
    margin: 0 auto;
}

.anvisa-title {
    font-size: 1.8rem;
    line-height: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    background: #262626;
    padding: 2rem;
}

.footer-box {
    max-width: 144rem;
}

.links-box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
}

.f-ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: max-content;
    margin: 0 auto;
}

.f-ancor {
    color: var(--white);
    text-decoration: none;
    transition: .3s;
}

.f-ancor:hover {
    opacity: .7;
}

.f-payments {
    width: 80%;
    margin: 0 auto;
}

.limitador {
    position: relative;
    max-width: 144rem;
    margin: 0 auto;
}

/**/

@media (min-width: 425px) {
    .header-title {
        font-size: 2.4rem;
    }

    .main-button {
        font-size: 2.4rem;
    }

    .main-img {
        width: 90%;
    }

    .main-tb-ul {
        max-width: 40rem;
    }
}

@media (min-width: 768px) {
    .main-tb-title {
        max-width: 45rem;
    }

    .main-tb-ul {
        max-width: 45rem;
    }

    .anvisa-title {
        max-width: 45rem;
        margin: 0 auto;
    }

    .main-button {
        width: max-content;
        margin: 0 auto;
    }

    .main-text-box {
        padding: 4rem 2rem 8rem 0;
    }

    .main-cta-box {
        gap: 2.4rem;
    }
}

@media (min-width: 840px) {
    .main-box {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .main-box {
        justify-content: space-around;
    }
}

@keyframes tilt-shaking {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}